$color-primary: #e82a2a
$text-color-default: #333
$text-color-primary: $color-primary
$text-color-muted: #999
$text-color-inverted: #fff

body
  color: $text-color-default
  background-color: #fff
  font-family: Arial, Verdana, sans-serif
  font-size: 16px

a
  color: $text-color-primary
  font-weight: bold
  text-decoration: none
  transition: all 0.2s ease

  &:hover, &:focus, &:active
    color: darken($text-color-primary, 20%)

.btn
  color: $text-color-default
  background-color: #f0f0f0
  border-width: 0
  border-radius: 3px
  font-weight: bold
  text-align: center
  padding: 0.5em 1em
  cursor: pointer

.btn-primary
  color: $text-color-inverted
  background-color: $color-primary

.rw-star
  display: inline-block
  position: relative
  height: 1em
  width: auto
  color: rgba(0, 0, 0, 0.3)
  cursor: default
  outline: none

  &::after
    content: "★"
    display: block
    height: 1em
    line-height: 1em
    width: auto

  &--active
    color: $color-primary

  &--percent-50
    &::before
      content: "★"
      display: block
      position: absolute
      top: 0
      width: 50%
      height: 1em
      overflow: hidden
      color: $color-primary
      line-height: 1em

.rw-avatar
  display: inline-block
  position: relative
  width: 75px
  height: 75px
  box-sizing: border-box
  background: $color-primary
  border: $color-primary 2px solid
  border-radius: 50%
  overflow: hidden

  .rw-avatar__img
    display: inline-block
    width: 100%
    height: auto

  .rw-avatar__text
    display: inline-block
    width: 100%
    color: $text-color-inverted
    font-size: 28px
    font-weight: bold
    text-align: center
    vertical-align: middle
    line-height: 75px

.rw-rating
  display: inline-flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center

  &__points
    font-size: 1.75em
    margin-right: 5px

  &__value
    font-weight: bold
    padding-top: 0.15em

.rw-profile-link
  color: $text-color-default
  font-weight: bold
  text-decoration: none
  border-bottom: 1px solid transparent

  &:hover, &:focus, &:active
    color: $text-color-default
    border-bottom-color: $text-color-default

.rw-review-title
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: flex-start

  &__pic
    display: inline-block
    margin-right: 10px

  &__content
    display: inline-block
    height: 100%
    padding-left: 5px
    box-sizing: border-box

  &__rating
    display: flex
    margin-left: -5px

  &__author
    display: block
    margin-bottom: 3px

  &__date
    display: block
    color: $text-color-muted
    font-size: 0.85em

.rw-review
  display: block
  padding: 15px
  background-color: #f9f9f9
  border-radius: 5px
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 10px rgba(0, 0, 0, 0.1)

  &__text
    margin: 1em 0
    padding-left: 5px

.rw-reviews-list
  &__item
    margin-bottom: 15px

.rw-pagination
  display: flex
  flex-flow: row nowrap
  align-items: flex-end

  &__next
    margin-left: 10px

.rw-review-form
  margin-bottom: 20px

  &__title
    margin-bottom: 0

  &__grid
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center

  &__rating
    font-size: 20px

  &__submit
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    padding: 0 20px
