doctype html
head
  meta(charset="utf-8")
  title Rating Widget
  link(rel="stylesheet" href="./rating-widget.css")
body
  
  div(style="width: 500px; margin: 0 auto;")
    form.rw-review-form
      h3.rw-review-form__title Rate us:
      .rw-review-form__grid
        .rw-rating.rw-review-form__rating
          span.rw-rating__points
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
            span.rw-star
          span.rw-rating__value 0/10
        .rw-review-form__submit
          button.btn.btn-primary(type="submit") Next
    .rw-reviews-list
      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            img.rw-avatar__img(src="./img/avatar_snow.jpg" alt="John Snow")
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
              span.rw-rating__value 10/10
            .rw-review-title__author 
              a.rw-profile-link(href="#") John Snow
            span.rw-review-title__date 28 мая

      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            img.rw-avatar__img(src="./img/avatar_dayeneris.jpg" alt="Dayeneris Targarien")
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star
                span.rw-star
                span.rw-star
                span.rw-star
              span.rw-rating__value 1/10
            .rw-review-title__author 
              a.rw-profile-link(href="#") Dayeneris Targarien
            span.rw-review-title__date 2 апреля
        p.rw-review__text.
          Burn it.
        
      .rw-review.rw-reviews-list__item
        .rw-review-title.rw-review__title
          a.rw-avatar.rw-review-title__pic(href="#")
            spam.rw-avatar__text NO
          .rw-review-title__content
            .rw-rating.rw-review-title__rating
              span.rw-rating__points
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--active
                span.rw-star.rw-star--percent-50
                span.rw-star
              span.rw-rating__value 7/10
            .rw-review-title__author
              a.rw-profile-link(href="#") No One
            span.rw-review-title__date 25 декабря 2017
        p.rw-review__text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet mollis erat. Proin nec elit ultrices, 
          efficitur sem quis, auctor lorem. Donec eu suscipit tellus. Pellentesque nec mattis neque. Nulla vel lectus et 
          tortor cursus aliquam sed ac nisl. Vestibulum condimentum lobortis dictum. Aliquam sodales odio in elit porttitor,
          sed scelerisque ex varius. Morbi dapibus orci in augue accumsan lobortis.
          
      .rw-pagination.rw-reviews-list__pagination
        div
          span 1 из 
          a(href="#") 46
        a.rw-pagination__next(href="#") дальше &#10139;
